{% extends 'main/base.html' %}

{% block title %}
    JJ's Plantation
{% endblock %}

{% block located %}
    JJ's Plantation
{% endblock %}

{% block body %}

<div class="container-fluid">
  
  <script>
  const labels = {{ labels | safe }};
  const values = {{ values | safe }};
  const btnclass = {{btnclass | safe }};
  </script>  


  <p>Plantation contains 8 soil moisture sensors</p>
  <form method = "post">
    {% csrf_token %}
    <input type="submit" id = "btn0" name = "Since the beginning of time." class="btn btn-success" value="Since the beginning of time."/>
    <input type="submit" id = "btn1" name = "Last 1 week" class="btn btn-success" value="Last 1 week"/>
    <input type="submit" id = "btn2" name = "Last 48 hours" class="btn btn-success" value="Last 48 hours"/>
    <input type="submit" id = "btn3" name = "Last 24 hours" class="btn btn-success" value="Last 24 hours"/>
    
    
  </form>
<br>  




<canvas id="line-chart" width="900" height="400"></canvas>



<table class="table table-image table-dark">
    <thead>
      <tr>
	<th scope="col">Name</th>
	<th scope="col">Image</th>
	<th scope="col">Soil moisture (last measured) <br> {{ labels | last }} </th>
	<th scope="col">Last watering</th>
	<!-- <th scope="col">watering</th> -->
      </tr>
    </thead>
    <tbody>
      
<!-- Table 1,2/8 -->
        <tr>
          <th>Dragon fruit sensor 1/2 <br> Dragon fruit sensor 2/2</th>
	    <td class="w-25">
	      {% load static %}
	      <img src="{% static 'DragonFruit.jpg' %}" class="img-fluid img-thumbnail" alt="Dragon fruit" width="50vw">
	    </td>
	    <td>Soil moisture: {{ values.0|last }}% <br> Soil moisture: {{ values.1|last }}%</td>
	    <td>{{ LastWateredTime.0 }}<br>{{ LastWateredTime.1 }}</td>
	    <!--
	      <td>
	      <button type="button" class="btn btn-success">
	      <img src="{% static 'GardenCan.jpg' %}" class="img-fluid img-thumbnail" alt="Garden can" width="40vw">
	      </button>
	      </td>
	      -->
        </tr>

<!-- Table 3/8 -->
	<tr>
	    <th> Lemon </th>
	      <td class="w-25">
		<img src="{% static 'Citron.jpg' %}" class="img-fluid img-thumbnail" alt="Citron" width="70vw">
	      </td>
	    <td>Soil moisture: {{ values.2|last }}%</td>
	    <td>{{ LastWateredTime.2 }}</td>
	</tr>

<!-- Table 4/8 -->
	<tr>
	    <th> Hawai Rose </th>
	      <td class="w-25">
		<img src="{% static 'HawaiRose.jpg' %}" class="img-fluid img-thumbnail" alt="Hawai rose" width="70vw">
	      </td>
	    <td>Soil moisture: {{ values.3|last }}%</td>
	    <td>{{ LastWateredTime.3 }}</td>
	</tr>
	
<!-- Table 5/8 -->
	<tr>
	    <th> Fairy lights </th>
	      <td class="w-25">
		<img src="{% static 'FairyLights.jpg' %}" class="img-fluid img-thumbnail" alt="Fairy lights" width="70vw">
	      </td>
	    <td>Soil moisture: {{ values.4|last }}%</td>
	    <td>{{ LastWateredTime.4 }}</td>
	</tr>
	
<!-- Table 6/8 -->
	<tr>
	    <th> Purple flash </th>
	      <td class="w-25">
		<img src="{% static 'PurpleFlash.jpg' %}" class="img-fluid img-thumbnail" alt="Purple flash" width="70vw">
	      </td>
	    <td>Soil moisture: {{ values.5|last }}%</td>
	    <td>{{ LastWateredTime.5 }}</td>
	</tr>
	
<!-- Table 7/8 -->
	<tr>
	    <th> Thanksgiving </th>
	      <td class="w-25">
		<img src="{% static 'ThanksGiving.jpg' %}" class="img-fluid img-thumbnail" alt="Thanks giving" width="70vw">
	      </td>
	    <td>Soil moisture: {{ values.6|last }}%</td>
	    <td>{{ LastWateredTime.6 }}</td>
	</tr>
	
<!-- Table 8/8 -->
	<tr>
	    <th> Sparkler </th>
	      <td class="w-25">
		<img src="{% static 'Sparkler.jpg' %}" class="img-fluid img-thumbnail" alt="Sparkler" width="70vw">
	      </td>
	    <td>Soil moisture: {{ values.7|last }}%</td>
	    <td>{{ LastWateredTime.7 }}</td>
	</tr>
	
<!--
        <form class= "grid" action = "/watering" method = "POST">
        <center> <input type="Submit" class="file_submit"></center>
      </form>
      
	      <form method ="post" action="/">
	      <button type="submit" name="submit_a" value="submit_a"> Submit_a </button>
	      <button type="submit" name="submit_b" value="submit_b"> Submit_b </button>
	      </form> 
-->

		  </tbody>
		</table>
</div>
{% endblock %}
