.container-fluid {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
  background-color: #212121;
  color: white;
}

.bg
{
background-color: grey;
color: black;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.bg-dark
{
color: white;
}
